#heading{
    color:darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hub {
    color: #267c5b;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#inputId{
    background-color: rgb(243, 220, 176);
    color: black;
}
